@import 'bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap';

button {
  margin: 5px;
}

.error {
  vertical-align: sub;
  color: #c9302c;
}

.separator {
  height:1px;
  background:#337ab7;
  border-bottom:1px solid #337ab7;
  margin-top: 3px;
  margin-bottom: 3px;
}

.menuItem {
  cursor: pointer;
  border-radius: 4px;
  position: relative;
  display: block;
  padding: 10px 15px;
}

.menuItem.selected {
  background: #337ab7;
  color: white;
}

.headers {
  margin-bottom: 20px;
}

.toto {
  overflow: hidden;
  margin-bottom: 20px;
}

.infos {
  border: 2px solid;
  overflow: hidden;
}

.infos.running {
  border-color: #5cb85c;
}

.infos.unreachable {
  border-color:  #c9302c;
}

.infos.empty,
.infos.deploying,
.infos.upgrading {
  border-color: #f0ad4e;
}

.head {
  float:left;
}

.name {
  font-size: 24px;
}

.id {
  font-style: italic;
  font-size: 14px;
}

.state {
  font-weight: bold;
  float: right;
}

.state.running {
  color: #5cb85c;
}

.state.unreachable {
  color:  #c9302c;
}

.state.empty,
.state.deploying,
.state.upgrading {
  color: #f0ad4e;
}

.content {
  clear: left;
  padding: 20px 0 20px 0;
}

.actions {
  float: right;
}
