<div class='jumbotron'>
  {{#em-form model=model submit_button=false}}
    {{em-input property="password" label="Password" type="password" placeholder="Enter your current password"}}
  {{/em-form}}

  <button {{action 'submit'}} class='btn btn-danger'>Cancel account</button>
</div>
