<div class='jumbotron'>
  {{#basic-form model=model}}
    {{em-input property="newEmail" label="New email" placeholder="Enter the new email for the account"}}
    {{em-input property="password" label="Current password" type="password" placeholder="Enter your current password"}}
  {{/basic-form}}
</div>
