<div class='jumbotron'>
  {{#em-form model=model submit_button=false}}
    {{em-input property="newPassword" label="New password" type="password" placeholder="Enter a new password"}}
    {{em-input property="newPasswordConfirmation" label="Confirm password" type="password" placeholder="Confirm the new password"}}
    {{em-input property="oldPassword" label="Current password" type="password" placeholder="Enter your current password"}}
  {{/em-form}}

  <button {{action 'submit'}} class='btn btn-success'>Submit</button>
</div>
