<div class='jumbotron'>
  {{#em-form model=model submit_button=false}}
    {{em-input property="newPassword" label="New password" type="password" placeholder="Enter a new password"}}
    {{em-input property="newPasswordConfirmation" label="Confirm password" type="password" placeholder="Confirm the new password"}}
    {{em-input property="oldPassword" label="Current password" type="password" placeholder="Enter your current password"}}
  {{/em-form}}

  {{em-button on-click='submit' default='Save' class='btn btn-success' executing='Saving' resolved='Saved' rejected="Failed"}}
</div>
