<div class='jumbotron'>
  {{#basic-form model=model}}
    {{em-input property="newPassword" label="New password" type="password" placeholder="Enter a new password"}}
    {{em-input property="newPasswordConfirmation" label="Confirm password" type="password" placeholder="Confirm the new password"}}
    {{em-input property="oldPassword" label="Current password" type="password" placeholder="Enter your current password"}}
  {{/basic-form}}
</div>
