<div class='jumbotron'>
  {{#em-form model=model submit_button=false}}
    {{em-input property="fullname" label="Fullname" placeholder="Enter a full name"}}
  {{/em-form}}

  <button {{action 'submit'}} class='btn btn-success'>Submit</button>
</div>
