<div class='jumbotron col-md-3'>
  <ul class="nav nav-pills nav-stacked">
    {{#link-to 'profile' tagName='li'}}<a {{bind-attr href='view.href'}}>Profile</a>{{/link-to}}
    {{#link-to 'account.change-email' tagName='li'}}<a {{bind-attr href='view.href'}}>Change email</a>{{/link-to}}
    {{#link-to 'account.change-password' tagName='li'}}<a {{bind-attr href='view.href'}}>Change password</a>{{/link-to}}
  </ul>
</div>

<div class='col-md-9'>
  {{outlet}}
</div>
