<div class='jumbotron'>
  <div class='row'>
    <div class='col-md-2'>{{model.name}}</div>

    {{#each node in model.nodes}}
    {{#link-to 'node' node}}
    <div class='col-md-2'>{{node.name}}</div>
    {{/link-to}}
    {{/each}}
  </div>
</div>
