<div>
  Containers count: {{containersCount}}

  {{#each container in model}}
  <div class='jumbotron'>
    <div class='row'>
      {{#link-to 'container' container}}
      <div class='col-md-2'>{{container.image}}</div>
      {{/link-to}}
    </div>
  </div>
  {{/each}}
</div>

<!-- <center>
  {{pagination-pager current=page count=pagesCount hide=true}}
</center>

{{#if all}}
  {{#link-to 'containers' (query-params all=false page=1)}}Hide Inactives{{/link-to}}
{{else}}
  {{#link-to 'containers' (query-params all=true page=1)}}Show Inactives{{/link-to}}
{{/if}} -->
